	body {
		background-color: #ffe
	}

	h1 {
		font-size:24px; color: #ddd
	}


	/* Создаём отдельный класс для ссылок с кнопками */

	a.sprite {
		display:block; 						/* Ссылки будут блоками. */
		width:230px; 						/* Ширина блока */
		height:180px; 						/* Высота блока - половина высоты */
		background:url("../images/spr_tubes.png"); 		/* делаем картинку фоном (зная, что будет видна только половина картинки) */
		margin:3px; 						/* "зазоры" между кнопками */
		text-align:center; 					/* текст по центру */
		line-height:40px; 					/* Расстояние между строками 40 пикселей чтобы текст был по центру кнопки */
		font-size:18px; 					/* шрифт 18 пикселей */
		color:#ddd; 						/* цвет серенький ближе к беленькому */
		text-decoration:none 				/* ссылки этого класса подчеркивать не будем */
	}

/* Стиль ссылки при наведённом курсоре */

	a.sprite:hover {
		background-position:0 -180px; 		/* ВСЯ ФИШКА ЗДЕСЬ! сдвигаем фон на 40 пикселей вверх, отрицательным значением background-position, тем самым показываем вторую часть изображения где наша кнопка активна */
		color: #fff 						/* цвет беленький */
	}

	a.sprite1 {
		display:block; 						/* Ссылки будут блоками. */
		width:120px; 						/* Ширина блока 175 пикселей по ширине нашей "двойной" картинки */
		height:120px; 						/* Высота блока 40 - это половина высоты нашей двойной картинки */
		background:url("../images/spr_bands.png"); 		/* делаем картинку фоном (зная, что будет видна только половина картинки) */
		margin:3px; 						/* "зазоры" между кнопками */
		text-align:center; 					/* текст по центру */
		line-height:40px; 					/* Расстояние между строками 40 пикселей чтобы текст был по центру кнопки */
		font-size:18px; 					/* шрифт 18 пикселей */
		color:#ddd; 						/* цвет серенький ближе к беленькому */
		text-decoration:none 				/* ссылки этого класса подчеркивать не будем */
	}

/* Стиль ссылки при наведённом курсоре */

	a.sprite1:hover {
		background-position:0 -120px; 		/* ВСЯ ФИШКА ЗДЕСЬ! сдвигаем фон на 40 пикселей вверх, отрицательным значением background-position, тем самым показываем вторую часть изображения где наша кнопка активна */
		color: #fff 						/* цвет беленький */
	}
